
.profile{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  outline: black solid 1px;
  border-radius: 5%;
  background-color: rgb(190, 186, 186);
}

.profile__title{
  margin: 20px auto 0 auto;
}

.profile__image{
  border-radius: 50%;
  max-width: 200px;
  margin: 20px auto 0 auto;
}

.profile__image_unvisiable{
  opacity: 0;
}

.profile__input{
  margin: 20px auto 0 auto;

}

.profile__button{
  margin: 20px auto 20px auto;
  
}
