@import "/blocks/normalize.css";
@import "/blocks/__header/h1.css";
@import "/blocks/__main/profile.css";
@import "/blocks/__main/button.css";

header {
    width: 1000px;
    background-color: black;
}

body{
    background-color: black;
}